@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Kantinens Menu for uge 15</h1>
     <table>
        <tr>
            <th>Dag</th>
            <th>Varm Ret</th>
            <th>Kold Ret</th>
        </tr>
        @foreach (var menuItem in Model.MenuItems)
        {
            <tr>
                <td>@menuItem.Weekday</td>
                <td>@menuItem.WarmDish</td>
                <td>@menuItem.ColdDish</td>
            </tr>
        }
    </table>
</div>
<style>
        table {
            width: 50%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
